:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

.download-ios:hover {
    background-color: hsla(171, 66%, 44%, .8);
}

.download-mac:hover{
    background-color: hsla(233, 100%, 69%, .8);;
}

footer ul li a:hover{
    color: var(--strong-cyan);
}

