:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

@media (min-width: 900px) {
    .hero-section {
        background: url(/images/bg-header-desktop.png) no-repeat;
        background-size: 100%;
    }

    .hero-section h1 {
        font-size: 2.8125rem;
    }

    .hero-section p {
        width: 700px;
        font-size: 20px;
        line-height: 30px;
    }

    .buttons {
        width: 450px;
        flex-direction: row;
        gap: 20px;
    }

    h2 {
        font-size: 35px;
    }

    .keep-track-section p,
    .access-section p,
    .supercharge-section p {
        width: 700px;
        font-size: 18px;
        line-height: 30px;
    }

    .keep-track-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .keep-track-left {
        width: 50%;
    }

    .keep-track-right {
        width: 50%;
    }
    
    .access-section img {   
        width: 900px;
    }

    .supercharge-div {
        flex-direction: row;
        gap: 20px;
    }

    .tool {
        width: 350px;
    }

    .tool p {
        font-size: 1rem;
        width: 100%;
    }

    .logo-section {
        flex-direction: row;
        gap: 80px;
    }

    .logo-section img {
        width: 150px;
    }

}